.AnimeContainer{
    width:40%;
    height:100px;
    display:flex;
    flex-direction: column;
    flex-grow: 1;
}
.episodeNumPlay,.nextEpisode{
    display: flex;
    flex-grow: 1;
}
button,input{
    width:100%;
}
input{
    padding-left: 10px;
    font-size: 24px;
    background-color: #f7d650;
    border: none;
}
.animeButton{
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
}
.playEpisode{
    background-color: #F5CB1F;
}
.nextEpisode > button{
    background-color: #ad2e3c;
}